@import './_colors.scss';

.content {
  min-height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer {
  padding: 0.75rem;
  position: absolute;
  bottom: 0;
}

.flexColumnCenter {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}